diagrams/activity.puml
diagrams/class.puml
diagrams/dfd-0.puml
diagrams/dfd-1.puml
diagrams/dfd-2.puml
diagrams/Imagify_Activity.png
diagrams/Imagify_Class.png
diagrams/Imagify_DFD_Level_0.png
diagrams/Imagify_DFD_Level_1.png
diagrams/Imagify_DFD_Level_2.png
diagrams/Imagify_TextToImage_Sequence.png
diagrams/Imagify_UseCase.png
diagrams/plantuml.jar
diagrams/sequence.puml
diagrams/usecase.puml
Untitled diagram _ Mermaid Chart-2025-09-11-101112.png
class diagram.png
er diagram _ Mermaid Chart-2025-09-11-101901.png
Imagify - Copy.docx
IMAGIFY (1).pptx
imagify-assets.zip
Imagify.docx
IMAGIFY.pptx
mermaid-diagram-2025-09-11-153657.png
mermaid-diagram-2025-09-11-153841.png
sequence from platuml.png
